input.cal {
  width: 50%;
  border: 1px solid black;
  /* text-align: center; */
  margin: auto;
  display: block;
}

.App {
  text-align: center;
  padding: 20px;
} 


.arrow {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.arrow:hover,
.arrow:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}